<div class="col-md-10">
    <select class="form-select">
        <option selected>Category</option>
        <option value="1">Novel</option>
        <option value="2">Adult 2</option>
        <option value="3">Adult 3</option>
    </select>
</div>
